<div class='col-md-8 col-md-offset-2 sub-header'>
  <h2>SUPERPOWERS</h2>
</div>

<div class='col-md-8 col-md-offset-2'>
  <p></br><%= link_to 'CREATE A NEW SUPERPOWER', new_superpower_path %></p>
</div>

<div class='col-md-8 col-md-offset-2'>
  <h2>CHOOSE A POWER TO ADD TO <%= @superhero.name.upcase %></h2>
</div>

<div class='col-md-8 col-md-offset-2'>
  </br><%= form_tag superpowers_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>

<div class='col-md-8 col-md-offset-2'>
  <% @superpowers.each do |superpower| %>
  <p><h2><%= link_to superpower.name, superpower_path(superpower) %></h2></p>
  <p><strong>Description</strong>: <%= superpower.description %></p>
  <p><%= button_to 'ADD TO '+@superhero.name.upcase, superhero_superpowers_path(@team,@superhero,superpower), 
          method: :post %></p>
  <% end %>
</div>

<div class='col-md-8 col-md-offset-2'>
  <p></br><%= link_to 'BACK TO '+@superhero.name.upcase, team_superhero_path(@team,@superhero) %></p>
</div>

<div class='col-md-8 col-md-offset-2 sub-header'>
  <hr>
</div>