<div>
  <%= form_for @superhero, :as => :superhero, :url => team_superhero_path(@team,@superhero) do |f| %>
    <p>Name</p>
    <p><%= f.text_field :name %></p>
    <p>True Identity</p>
    <p><%= f.text_field :true_identity %></p>
    <p>Image URL</p>
    <p><%= f.text_field :image_url %></p>
    <p><%= f.submit 'SAVE' %></p>
  <% end %>
</div>