<div>
  <p><h2><%= @superhero.name %></h2></p>
    <p><%= image_tag(@superhero.image_url) %></p>
    <p><strong>True Identity</strong>: <%= @superhero.true_identity %></p>
    <p><strong>Team</strong>: <%= link_to @team.name, team_path(@team) %></p>
</div>
<div>
  <% @superpowers.each do |superpower| %>
  <p><h2><%= link_to superpower.name, superpower_path(superpower) %></h2></p>
  <p><strong>Description</strong>: <%= superpower.description %></p>
  <% end %>
</div>
<div>
  <%= button_to 'EDIT', edit_team_superhero_path, method: :get %>
  <%= button_to 'DELETE', team_superhero_path(@team, @superhero), method: :delete, data: {confirm: "Are you sure you want to delete this Superhero?"} %>
</div>