<!DOCTYPE html>
<html>
  <head>
    <title>Superheroes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1><%= link_to 'SUPERHEROES, ASSEMBLE!', root_path %></h1>
      <hr>
    </div>
    <div>
      <% flash.each do |name, msg| %>
      <p>
      <small> <%= name.capitalize %>: <%= msg %> </small>
      </p>
      <% end %>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
